<nz-layout>
    <nz-header>
        <div class="logo">Jamait Ulama Solapur</div>
        <ul nz-menu nzTheme="dark" nzMode="verticle" class="header-menu">
            <li nz-menu-item>Become a Member</li>
            <li nz-menu-item><span class="donate">Donate Us</span></li>
        </ul>
    </nz-header>
    <nz-layout>
        <nz-sider
            nzCollapsible
            [(nzCollapsed)]="isCollapsed"
            [nzBreakpoint]="'lg'"
            [nzCollapsedWidth]="0"
            nzTheme="dark"
            nzWidth="250px"
        >
            <ul nz-menu nzMode="inline">
                <app-side-menu-item
                    *ngFor="let item of sideMenuDetails"
                    [sideMenuItem]="item"
                    (changeSelection)="openLink($event)"
                >
                </app-side-menu-item>
            </ul>
        </nz-sider>
        <nz-layout class="inner-layout">
            <nz-breadcrumb>
                <nz-breadcrumb-item *ngFor="let item of breadcrumb">{{
                    item
                }}</nz-breadcrumb-item>
            </nz-breadcrumb>
            <nz-content><router-outlet></router-outlet></nz-content>
        </nz-layout>
    </nz-layout>
</nz-layout>
