<nz-layout class="main-layout">
    <nz-header>
        <div style="display: flex; align-items: center;">
            <i
                class="trigger"
                nz-icon
                [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                (click)="isCollapsed = !isCollapsed"
            ></i>
            <div class="logo" routerLink="/">
                Jamiat Ulama Solapur
                <ul nz-menu [nzMode]="'horizontal'" class="header-menu">
                    <a
                        nz-dropdown
                        [nzDropdownMenu]="menuLanguage"
                        class="dropdown-heading language"
                        >A अ ب
                        <i nz-icon nzType="down"></i>
                    </a>

                    <nz-dropdown-menu #menuLanguage="nzDropdownMenu">
                        <ul nz-menu nzSelectable>
                            <li
                                nz-menu-item
                                class="urduText"
                                (click)="setLanguage('Urdu')"
                            >
                                اردو
                            </li>
                            <li nz-menu-item (click)="setLanguage('English')">
                                English
                            </li>
                            <li nz-menu-item (click)="setLanguage('Hindi')">
                                हिंदी
                            </li>
                        </ul>
                    </nz-dropdown-menu>
                </ul>
            </div>
        </div>

        <ul
            nz-menu
            [nzMode]="'horizontal'"
            class="header-menu"
            [class.urduText]="currentLanguage === 'Urdu'"
        >
            <a nz-dropdown [nzDropdownMenu]="menu" class="dropdown-heading">
                {{ 'About Us' | language: currentLanguage }}
                <i nz-icon nzType="down"></i>
            </a>

            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                    <li
                        nz-menu-item
                        [class.urduText]="currentLanguage === 'Urdu'"
                    >
                        {{ 'Become a member' | language: currentLanguage }}
                    </li>
                    <li nz-menu-item>
                        <a
                            href="https://www.youtube.com/channel/UCZ4trGJxJZR8GOK5mCY6Luw"
                            target="_blank"
                        >
                            Our Youtube Channel</a
                        >
                    </li>
                </ul>
            </nz-dropdown-menu>
        </ul>
    </nz-header>
    <div class="layout">
        <nz-layout>
            <nz-sider
                nzCollapsible
                [(nzCollapsed)]="isCollapsed"
                [nzBreakpoint]="'sm'"
                [nzCollapsedWidth]="0"
                [nzTrigger]="null"
                nzWidth="250px"
            >
                <ul
                    nz-menu
                    nzMode="inline"
                    class="side-menu-ul"
                    [class.urduText]="currentLanguage === 'Urdu'"
                >
                    <app-side-menu-item
                        *ngFor="let item of sideMenuDetails"
                        [sideMenuItem]="item"
                        [currentLanguage]="currentLanguage"
                        (changeSelection)="openLink($event)"
                    >
                    </app-side-menu-item>
                    <li nz-menu-item class="donate">
                        <button nz-button nzType="primary">Donate Us</button>
                    </li>
                </ul>
            </nz-sider>
            <nz-layout class="inner-layout" id="nz-layout">
                <nz-breadcrumb *ngIf="breadcrumb?.length > 0">
                    <nz-breadcrumb-item *ngFor="let item of breadcrumb">{{
                        item
                    }}</nz-breadcrumb-item>
                </nz-breadcrumb>
                <nz-content><router-outlet></router-outlet></nz-content>
            </nz-layout>
        </nz-layout>
    </div>
</nz-layout>
