.trigger {
  font-size: 20px;
  margin-right: 16px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  width: 150px;
  cursor: pointer;
}

.header-menu {
  margin-left: auto;
  background: transparent;
}

.ant-layout-header {
  line-height: unset;
  display: flex;
  padding: 0 16px;
  align-items: center;
  box-shadow: 0px 2px 4px #103252;
}

.ant-layout-sider {
  background: white;
}

.donate {
  padding-left: 0;
  display: flex;
  justify-content: center;
}

.inner-layout {
  padding: 0 16px 16px;
  margin-left: 250px;
}

nz-breadcrumb {
  height: 48px;
  line-height: 48px;
}

nz-sider {
  position: fixed;
  height: calc(100vh - 64px);
  overflow-y: auto;
}

nz-content {
  background: #d0dee4;
  padding: 16px;
  min-height: 280px;
  box-shadow: inset 0px 0px 6px;
}

.header-items {
  display: flex;
}

nz-header {
  background: #103252;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
  color: #f5f5f5;

  .about-us {
    color: #f5f5f5;
  }
}

.side-menu-ul {
  height: 100%;
  box-shadow: 2px 0px 2px #e8e8e8;
}

@media screen and (max-width: 640px) {
  nz-sider {
    height: 100vh;
  }

  .inner-layout {
    margin-left: 0;
  }
}

.layout {
  margin-top: 64px;
}

.ant-layout {
  background: #d0dee4;
}
