.videos-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
  justify-content: flex-start;
}

.yt-video {
  margin: 16px auto;
  box-shadow: 4px 4px 4px #e8e8e8;
  overflow: hidden;
}

.yt-video-text {
  padding: 8px
}
