.videos-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
  justify-content: flex-start;
}

.yt-video {
  margin: 16px auto;
  border: 1px solid #00A8E8;
  overflow: hidden;
}

.yt-video-text {
  padding: 8px
}
