/* You can add global styles to this file, and also import other style files */
body {
  background: #d0dee4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #103252
}

@font-face {
  font-family: 'UrduFont';
  src: url('./assets/fonts/UrduFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
